html, body{
  margin: 0px;
  background-color: #262335;
  color: gainsboro;
}


.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 25px;

}

.cartacss {
  position: relative;
  width: 95px;
  left: 70px;
  margin-left: -75px;
}

#jugador-cartas, #computadora-cartas{
  height: 150px;
}